@font-face {
  font-family: "myfont";
  src: url(../public/assets/fonts/IRANSansXFaNum-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../public/assets/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: "myfont", sans-serif;
  font-style: normal;
}

.navbar {
  border-radius: 0px 0px 30px 30px;
}

.navbar_shadow {
  text-shadow: 2px 2px 4px #000000;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text_shadow {
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* =============================================== Scroll ======================================= */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007274;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ============================================= HOME ======================================== */
.slick-slide>div {
  margin: 0 10px;
}



.about_section {
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.about_section::-webkit-scrollbar {
  display: none;
}

/* ============================================= ABOUT ======================================== */

.about {
  background-image: url(../public/assets/images/disposable-tableware-arrangement-copy-space-min-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* ============================================= CONTACT-US ======================================== */

.contact {
  background-image: url(../public/assets/images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.contact h1 {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* =============================================== Footer========================================= */

.z_index {
  z-index: 999;
}

.checkout {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.disabled {
  pointer-events: none;
  opacity: 50%;
}
